.reactFlowChartStyle {
    width: calc(100% - 150px);
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.reactFlowMiniMapStyle {
    height: 50%;
}
@media (pointer: none), (pointer: coarse) {
    .reactFlowMiniMapStyle{
        width: 20%;
        height: 20%;
    }
}


blockquote{
    display:block;
    background: #fff;
    padding: 5px 5px 1px 35px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Yyld, serif;
    font-size: 16px;
    line-height: 1;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 7px solid firebrick;
    border-right: 2px solid firebrick;

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;

}

blockquote::before{

    content: "\008D"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Yyld, serif;
    font-size: 40px;
    font-weight: normal;
    color: firebrick;

    /*Positioning*/
    position: absolute;
    left: 5px;
    top:5px;

}

blockquote::after{
    /*Reset to make sure*/
    content: "";
}

blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: firebrick;
}

blockquote p{
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    color: black;
    text-shadow: 1px 1px grey;
}
blockquote:hover{
    box-shadow: 2px 2px 15px #868686;
}

blockquote em{
    font-style: italic;
}

/* About All Nav of Table of Content style*/
nav{
    max-height: calc(100vh - 40px);
    overflow: auto;
    background-color: grey;
}
nav ul{
    -webkit-text-stroke: 0.3px white;
    color: firebrick;
    list-style-type: upper-roman;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li{
    margin-top: 3px;
    border-bottom: 1px dashed white;
}

nav li.active a{
    font-weight: bold;
    color: white;
}
nav li.active {
    background-color: firebrick;
}
nav a:hover{
    font-weight: bolder;
    color: white;
    background-color: firebrick;
}

.fullWidthImage{
    width: 100%;
}