
@font-face {
    font-family: "wyld";
    src:url("font/yyld.otf");
    font-style: normal;
}

@font-face {
    font-family: "goudy";
    src:url("font/GoudyInitialen.ttf");
    font-style: normal;
}
@font-face {
    font-family: "wyld";
    src: url("font/wyldi.TTF");
    font-style: italic;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #111111;
    font-family: wyld,serif;
    /*,wyld,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
    color: firebrick;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

p{
    font-size:x-large;
    font-feature-settings: inherit;
    font-variant-ligatures: common-ligatures historical-ligatures discretionary-ligatures contextual;
}
ol {
    font-size: larger;
    font-variant-ligatures:inherit;
}


h2{
    font-size: x-large;
    font-weight: bold;
    background-color: firebrick;
    color: white;

}
h3{
    font-size: x-large;
    color: firebrick;
}

.intro::first-letter{
    font-family: goudy,serif;
    font-size: 5.5rem;
    font-weight: normal;
    color: firebrick;


    float: left;
    line-height: 0.9;
    margin-right: 0.01em;
}


th,td{
    border: 1px solid black;
    padding: 7px;
}
table{
    text-align: center;
    vertical-align: middle;
}
thead th{
    width: 10%;
}

code{
    background-color: #cccccc;
    border-radius: 5px;
}
/*nav {*/
/*    position: sticky;*/
/*    position: -webkit-sticky; !* For Safari *!*/
/*    top: 24px; !* How far down the page you want your ToC to live *!*/

/*    !* Give table of contents a scrollbar *!*/
/*    max-height: calc(100vh - 40px);*/
/*    overflow: auto;*/
/*}*/


/*@media (prefers-color-scheme: dark) {*/
/*    html {*/
/*        color-scheme: dark;*/
/*    }*/

/*    body {*/
/*        color: white;*/
/*        background: black;*/
/*    }*/
/*}*/


.reactFlowChartStyle {
    width: calc(100% - 150px);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.text-updater-node {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

