@font-face {
    font-family: "yyld";
    src: url("../styles/font/Yyld-Regular.woff");
    font-style: normal;
}

@font-face {
    font-family: "yyld";
    src: url("../styles/font/Yyld-Italich.woff");
    font-style: italic;
}

@font-face {
    font-family: "goudy";
    src: url("../styles/font/GoudyInitialen.ttf");
    font-style: normal;
}


@font-face {
    font-family: "caslon";
    src: url("../styles/font/librecaslon.ttf");
    font-style: italic;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #111111;
    font-family: yyld, caslon, "Times New Roman", -apple-system, serif;
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-variant-ligatures: common-ligatures historical-ligatures discretionary-ligatures contextual;
    -moz-font-feature-settings: "liga" 1, "calt" 1;
    -webkit-font-feature-settings: "liga" 1, "calt" 1;
    font-feature-settings: "liga" 1, "calt" 1;
}

button{
    font-family: inherit;
    background-color: grey;
}
a {
    color: firebrick;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

p {
    font-size: x-large;
    font-feature-settings: inherit;
    position: relative;
}
img{
    width: 100%;
}

ol {
    font-size: x-large;
    font-variant-ligatures: inherit;
}


h2 {
    font-size: x-large;
    font-weight: bold;
    font-variant-ligatures: common-ligatures historical-ligatures discretionary-ligatures contextual;
    background-color: firebrick;
    color: white;

}

h3 {
    font-size: x-large;
    font-variant-ligatures: common-ligatures historical-ligatures discretionary-ligatures contextual;
    color: firebrick;
}

h2, h3 {
    scroll-margin-top: 16px;
}

/*@supports (-webkit-hyphens: none) {*/
/*    h2, h3 {*/
/*        padding-top: 16px;*/
/*        margin-top: -16px;*/
/*    }*/
/*}*/



.intro::first-letter {
    font-family: goudy, serif;
    font-size: 5.5rem;
    font-weight: normal;
    color: firebrick;


    float: left;
    line-height: 0.9;
    margin-right: 0.01em;
}


th, td {
    border: 1px solid black;
    padding: 7px;

}

table {
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    display: block;
    overflow: auto;
}

thead th {
    width: 10%;
}

code {
    background-color: #cccccc;
    border-radius: 5px;
    position: relative;
    overflow: auto;;
    word-break: break-word;
}


/*@media (prefers-color-scheme: dark) {*/
/*    html {*/
/*        color-scheme: dark;*/
/*    }*/

/*    body {*/
/*        color: white;*/
/*        background: black;*/
/*    }*/
/*}*/




.text-updater-node {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.title_frame_picture {
    -webkit-filter: invert(1);
    filter: invert(1);
}
